@import "kouto-swiss"
@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,700|Open+Sans:400,700';

dosis($size, $weight = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700

opensans($size)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400

$azul = #0F5594

normalize()

*
*:after
*:before
    box-sizing border-box

body
    border-top 1px solid #000
    width 100%
    min-width 1380px
    +below(1380px)
        min-width 100%

.center
    width 1300px
    position relative
    margin 0 auto
    clearfix()
    +below(1380px)
        width 90%

.wrapper
    overflow hidden
    min-width 1380px
    margin 0 auto
    +below(1380px)
        min-width 100%

.colmeia
    width 55%
    float left
    img
        display block
        width 100%
        transform translateY(-2px)
    +below(1300px)
        width 35%
    +below(910px)
        float left
        width 100%
        img
            width 200px

.main
    width 42%
    float right
    padding-top 90px
    +below(1300px)
        width 60%
    +below(910px)
        width 100%
        padding-top 40px
    .logo
        position relative
        img
            display block
        span
            position absolute
            display block
            background $azul
            dosis 20 light
            width calc('100% - 228px')
            height 63px
            right 0
            top 0
            color #fff
            padding 6px 0 0 27px
            &:after
                content ''
                position absolute
                left 100%
                top 0
                height 100%
                width 2000px
                background $azul
        +below(910px)
            img
                max-width 100%
            span
                position relative
                width 100%
                height auto
                font-size 15px
                padding 8px
                margin-top 6px
    .chamadas
        .chamada
            margin-top 45px
            clearfix()
            img
                display block
                float left
                width 70px
            .texto
                width calc('100% - 110px')
                float right
                h3
                    dosis 24 normal
                    margin 10px 0
                    color #008bd7
                p
                    opensans 16
                    margin 0
            +below(910px)
                margin-top 35px
                img
                    float none
                    width 50px
                .texto
                    width 100%
                    margin-top 10px
                    h3
                        font-size 20px
                    p
                        font-size 14px

.contato
    margin-top 60px
    background-image linear-gradient(180deg, #9B9B9B, #C5C5C5)
    padding 60px 0
    +below(910px)
        margin-top 40px
        padding 40px 0
    .informacoes
        width 300px
        float left
        img
            display block
            width 112px
            margin 0 0 32px
        p
            margin 0
            dosis 22 bold
            a
                font-size 16px
                color #000
                text-decoration none
                transition color .3s
                &:hover
                    color $azul
            + p
                margin-top 15px
        +below(910px)
            width 100%
            margin-bottom 40px
    form
        width calc('100% - 300px')
        float right
        clearfix()
        p
            display block
            width 100%
            margin 0 0 15px
            dosis 14
            float left
        .col
            width 40%
            float left
            &:nth-child(3)
                margin 0 3px
            &:nth-child(4)
                width calc('20% - 6px')
        input
        textarea
            display block
            width 100%
            border 1px solid #fff
            height 45px
            background transparent
            outline 0
            border-radius 4px
            padding 15px 20px
            opensans 15
            font-style italic
            +placeholder()
                color rgba(#000, .8)
            + input
                margin-top 3px
        textarea
            height 141px
            resize none
        input[type=submit]
            height 141px
            dosis 16 bold
            font-style normal
            transition background .3s
            &:hover
                background #fff
        #form-contato-response
            display none
            width 100%
            float left
            margin-top 10px
            dosis 16 bold
            padding-left 20px
        +below(910px)
            width 100%
            .col
                width 100%
                &:nth-child(3)
                    margin 3px 0
                &:nth-child(4)
                    width 100%
                    input
                        height auto
